.dashboard{
    display: flex;
    width: 100%;
    border: 1px solid white;
}
.dashboard__left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard__right{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 70%;
}