@import "./variables";
@import "./Components/SidePanel.scss";
@import "./Components/Card.scss";
@import "./Components/Dashboard.scss";

body{
    background-color: $Very-dark-blue;
}
.App{
    display: flex;
    align-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#root{
    height: 100vh;
    width: 100vw;
}